# Configurações do Servidor
PORT=3000

# Chave de API da Deepgram (Usada para transcrever arquivos de áudio longos via link de RSS)
# Obtenha uma chave gratuita em: https://console.deepgram.com/
DEEPGRAM_API_KEY=sua_chave_deepgram_aqui
